.border {
    border: 2px solid red;
    margin: 3px;
}

.flex {
    display: flex;
}

.justify-center {
    justify-content: center;
}

.items-center {
    align-items: center;
}

.bg-black {
    background-color: black;
    color: white;
}

.invert {
    filter: invert(1);
}

.bg-grey {
    background-color: #000000;
}

.rounded {
    border-radius: 7px;
}

.m-1 {
    margin: 5px;
}

.p-1 {
    padding: 10px;
}

.nc:hover {
    background-color: #00ffbb;
    color: #000000;
}

.cc:hover {
    background-color: coral;
    color: #000000;
}

.ac:hover {
    background-color: #ff0066;
    color: #000000;

}

.oc:hover {
    background-color: #61fd6e;
    color: #000000;
}

.jc:hover {
    background-color: #007bff;
    color: #000000;

}

.bc:hover {
    background-color: #ea00ff;
    color: #000000;

}

.sc:hover {
    background-color: #00ffee;
    color: #000000;

}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-thumb {
    background-color: #00fff7;
    /* Dark color for the thumb */
    border-radius: 6px;
}

::-webkit-scrollbar-track {
    background-color: #222;
    /* Dark color for the track */
}



input[type="range"] {
    -webkit-appearance: none;
    width: 100%;
    height: 6px;
    background: #ddd;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
}

/* Track (WebKit) */
input[type="range"]::-webkit-slider-runnable-track {
    height: 6px;
    border-radius: 5px;
    background: linear-gradient(to right, #ff0000 0%, #59f511 100%);
}

/* Track (Firefox) */
input[type="range"]::-moz-range-track {
    height: 6px;
    border-radius: 5px;
    background: linear-gradient(to right, #51ff00 0%, #f90bb2 100%);
}

/* Thumb (WebKit) */
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 18px;
    width: 18px;
    border-radius: 50%;
    background: #fff;
    border: 2px solid #ff004c;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
    margin-top: -6px;
    /* aligns thumb with track */
    transition: 0.2s;
}

input[type="range"]::-webkit-slider-thumb:hover {
    transform: scale(1.15);
    background: #ffe6ed;
}

/* Thumb (Firefox) */
input[type="range"]::-moz-range-thumb {
    height: 18px;
    width: 18px;
    border-radius: 50%;
    background: #fff;
    border: 2px solid #ae0f3f;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
    transition: 0.2s;
}

input[type="range"]::-moz-range-thumb:hover {
    transform: scale(1.15);
    background: #ffe6ed;
}